body {
    background-color: black;
    color: white;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 2em;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-family: Geneva, Tahoma, sans-serif;
}

a {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

li {
    font-family: Geneva, Tahoma, sans-serif;
    margin: 5px;
}

li strong {
    font-size: 1.3em;
}

ol li::marker {
    font-weight: 600;
}

.content {
    width: 90vw;
    margin: auto;
}